@model IEnumerable<AngelinaPrj.Models.Aluno_Sala>

@{
    ViewBag.Title = "SalasAlunoById";
}
<div class="container height-80">
    <h2 class="text-center mt-2">Suas salas:</h2>
    <div class="col-12">
        <div class="row justify-content-center">
            @foreach (var sala in Model)
            {

                <div class="card text-white bg-dark m-3 text-center" style="max-width: 18rem;">
                    <div class="card-header">Semestre: @sala.Sala.Semestre</div>
                    <div class="card-body">
                        <p class="card-text">@sala.Sala.Periodo</p>
                    </div>
                    @Html.ActionLink("Ver materiais e exercícios", "", "", new { }, new { @class = "btn btn-primary mx-1 my-1" })
                </div>
            }
        </div>
        <p class="text-center">
            
        </p>
    </div>
</div>