@model AngelinaPrj.Models.Escola

@{
    ViewBag.Title = "Delete";
}
<div class="container height-80 text-center p-5">
<h3 class="">Deseja realmente deletar esta escola ?</h3>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Deletar" class="btn btn-danger" />
        @Html.ActionLink("Não", "Index", "Painel", new { @class = "btn btn-success" })
    </div>
}
</div>
