@model AngelinaPrj.ViewModel.DetalhesMateriaViewModel

@{
    ViewBag.Title = "DetalhesMateria";
}
<div class="container">
    <div class="col-12">
        <div class="row justify-content-center">
            @foreach (var sala in Model.Materia_Salas)
            {
                <div class="card text-white bg-dark m-3 text-center" style="max-width: 18rem;">
                    <div class="card-header">@sala.Salas.Situacao</div>
                    <div class="card-body">
                        <p class="card-text">@sala.Salas.Periodo</p>
                        <p class="card-text">@sala.Salas.Semestre</p>
                    </div>
                </div>
            }
        </div>
        @Html.ActionLink("Nova Sala", "CadastrarSala", "Sala", new { MateriaId = Model.Materia.MateriaId}, null)
    </div>
</div>